# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env

# VS Code
.vscode/

# Node
node_modules/

# Monitoring cache
monitoring/__pycache__/

# Git (already ignored automatically but fine)
.git